---
# A worker registers to one master, default to the first one.
buildbot_master_host: "{{groups['buildbot-masters'][0]}}"
# host where the buildbot can connect to (default to IP address of first master)
buildbot_master_address: "{{hostvars[groups['buildbot-masters'][0]].ansible_default_ipv4.address}}"
# Secrets directory on master
buildbot_master_secrets_dir: /home/buildbot/petri-dish/secrets.d/

buildbot_worker_user: builder

buildbot_version: 0.9.7
buildbot_worker_home: /home/{{buildbot_worker_user}}
buildbot_worker_bin: /home/{{buildbot_worker_user}}/.local/bin/buildbot-worker
buildbot_name: petri-dish

# Ubuntu packages to be installed (build deps from tools/debian-setup.sh)
ubuntu_packages:
  # Basic packages
  - libgtk2.0-dev
  - libpcap-dev
  - bison
  - flex
  - make
  - automake
  - libtool
  - python
  - perl
  - libgcrypt-dev
  # Additional list
  - libnl-3-dev
  - qttools5-dev
  - qttools5-dev-tools
  - libgtk-3-dev
  - libc-ares-dev
  - libkrb5-dev
  - libqt5svg5-dev
  - lynx
  - libsmi2-dev
  - portaudio19-dev
  - asciidoc
  - libsbc-dev
  - libgeoip-dev
  - qtmultimedia5-dev
  - liblua5.2-dev
  - libnl-cli-3-dev
  - libparse-yapp-perl
  - qt5-default
  - cmake
  - libcap-dev
  - liblz4-dev
  - libsnappy-dev
  - libspandsp-dev
  - libxml2-dev
  # Specific for Ubuntu 16.04
  - libtool-bin
  - libnghttp2-dev
  - libssh-gcrypt-dev
  - libgnutls28-dev
