[project]
	description = The Wireshark network protocol analyzer

#[notify "wireshark-commits-new"]
##	email = wireshark-commits@wireshark.org
#	email = gerald@wireshark.org
##	filter = project:wireshark AND visibleto:{Anonymous Users} AND branch:^master.*
#	filter = project:wireshark AND branch:^master.*

#[notify "wireshark-commits-merged"]
#	email = wireshark-commits@wireshark.org
#	filter = project:wireshark AND visibleto:{Anonymous Users} AND branch:^master.* AND status:merged

# https://code.wireshark.org/review/Documentation/config-labels.html
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true

[label "Verified"]
	defaultValue = 0
	#function = MaxWithBlock
	function = NoBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true

[label "Petri-Dish"]
	function = NoBlock
	value = -1 Skip test
	value =  0 No score
	value = +1 Test
	defaultValue = 0
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true

[access "refs/heads/*"]
	label-Verified = -1..+1 group Buildbots
	label-Verified = -1..+1 group Core Developers
	label-Petri-Dish = -1..+1 group Core Developers
	label-Code-Review = -2..+2 group Core Developers
	submit = group Administrators
	submit = group Core Developers
	forgeCommitter = group Core Developers
	abandon = group Core Developers

# http://wiki.wireshark.org/Development/Workflow
[submit]
	action = cherry pick
